# General
DOMAIN=your-domain.com

# Backend
JWT_ACCESS_SECRET=generate_very_long_random_string_here
# External Database Connection String
DATABASE_URL=Host=external-db-host;Port=5432;Database=tolk;Username=postgres;Password=secure-password

# SSL (Paths on the host machine)
SSL_CERT_PATH=./nginx/ssl/server.crt
SSL_KEY_PATH=./nginx/ssl/server.key
